
@font-face {
  font-family: 'Cairo';
  src: url('/fonts/cairo/Cairo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Cairo';
  src: url('/fonts/NotoSansArabic-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tajawal';
  src: url('/fonts/NotoSansArabic-Regular.ttf') format('woff2');
  font-weight: 500; /* وزن خفيف */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IBM';
  src: url('/fonts/IBMPlexSansArabic-Regular.woff2') format('woff2');
  font-weight: 300; /* وزن خفيف */
  font-style: normal;
  font-display: swap;
}

